body {
  background-color: palegoldenrod;
  font-size: 2em;
}

/* header */
body header:first-of-type {
  background-color: green;
}

 body header nav { 
  margin-top: 25px;
  /* border: 4px solid orange; */
  /* display: inline-block;  */
  color:blue;
  overflow: auto;
  width: 1500px;
  margin-left: auto;
  margin-right: auto;
} 

/* salmon image */
body header nav img:first-of-type {
  height: 150px;
  float:left;
}

body header nav img h1 {
  width:15%;
  text-align: center;
  border: 4px solid black;
}

/* chinook image */
body header nav img:last-of-type { 
  height: 150px;
  float: right;
}

section article header {
  background-color: palegreen;
  /* display: block; */
  /* margin-right: auto; */
  /* margin-left:auto; */
  border: 10px solid palegreen;
  text-align: center;
  /* display: inline-block; */
}

h1 {
  font-size: 2em;
  margin: 10px;
  padding: 5px;
}

h2 * {
  background-color: palegreen;
  font-size: 2.5em;
  margin: 10px;
  padding: 5px;
}

h3 * {
  background-color: palegreen;
  margin: 10px;
  padding: 5px;
  font-weight: bold;
  /* background-color: blue; */
  /* margin-left: 0px; */
}

main {
  width: 960px;
  margin: auto;
  /* position: relative; */
}

main div {
  display: flex;
}

/* Middle section */
#right-bar {
  /* border: 4px solid blue; */
  /* flex: 40%; */
  /* flex: 1 300px; */
  margin-top: 25px;
  width: 500px;
}

main article section {
  margin: 15px;
}

#left-bar {
  /* border: 4px solid yellow; */
  /* flex: 60%; */
  /* flex: 1 2; */
  margin-top: 25px;
  margin-left: 5px;
}

main section article section div img {
  border: 4px solid black;
  padding: 30px;
  background-color: honeydew;
  width: 300px;
  /* display: inline-block; */
}

main div section article section div img:nth-child(even) {
  float: right;
}


/* Middle Right section */
.section ul li {
  color: green;
  list-style: circle;
  margin-left: 25px;
  font-size: .8em;
}

.section ul li ul li {
  margin-left: 30px;
  /* color:blue; */
}

ul {
  margin: 10px;
  /* border: 4px dashed blue; */
  
}

main article:last-child{
  margin: 15px;
}

main article img {
  border: 4px solid black;
  padding: 30px;
  background-color: honeydew;
  float:left;
}

main article div:last-child {
  margin-top: 50px;
  width: 200px;
  border: 8px solid black;
  background-color: slategrey;
  padding: 10px;
}

main article div a {
  text-decoration: none;
}

main article div:hover {
  transition: 350ms;
  background-color: snow;
}
/* footer */

footer {
  width: 960px;
  margin: auto;
  margin-top: 50px;
  /* position: absolute; */
  bottom: 10px;
  width: 50%;
  /* border: 3px solid #8AC007; */
}

footer img {
  border: 4px dotted green;
  border-radius: 900px;
  height: 200px;
  float: left;
}
